.header_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  background: center/contain no-repeat url(../../../assets/icon/logo.svg);
  padding-top: 31px;
  padding-bottom: 21px;
  width: 100%;
  width: 87px;
  height: 86px;
}

.header_logo:hover {
  cursor: pointer;
}