.warranty_wrapper {
  width: 100%;
  min-width: 298px;
  border: 5px solid #A1B29F;
  padding: 13px;
}

.warranty_content {
  border: 2px solid #715B4B;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 92px 74px 38px 95px;
}

.warranty_title {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
  max-width: 658px;
  min-width: 320px;
}

.warranty_text {
  width: 100%;
  max-width: 922px;
  min-width: 266px;
}

.warranty_icon {
  background: center/contain no-repeat url(../../../assets/icon/stamp.svg);
  width: 100%;
  max-width: 152px;
  height: 150px;
  align-self: end;
}