.masterClasses_screen {
  padding: 0;
  background: center / cover no-repeat url(../../assets/img/masterClassesScreen.png);
  height: auto;
  width: 100%;
}

.masterClasses_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F6F6F6;
  padding: 268px 0 104px;
}

.masterClasses_btn {
  margin-top: 97px;
  margin-bottom: 0;
  width: 100%;
  max-width: 328px;
  height: 60px;
  background-color: #F6F6F6;
  color: #4C6D77;
}

.ourWorks_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.ourWorks_section {
  padding: 160px 140px;
}

.ourWorks_btn {
  margin: 0 auto;
  margin-top: 84px;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  margin-top: 100px;
  counter-reset: css-counter 0;
  padding-left: 146px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #C4C4C4;
  top: 0;
  bottom: 0;
  margin-left: -74px;
}

.secondLife_section {
  margin: 0;
  padding: 160px 0;
}

.secondLife_wrapper {
  background: center / cover no-repeat url('../../assets/img/second_life.png');
  width: 100%;
  padding: 182px 0;
}

.secondLife_title {
  color: #F6F6F6;
  margin: 0 245px;
  text-align: center;
}

.furnitureRestoration_section {
  padding-bottom: 160px;
}

.furnitureRestoration_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 90px;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.joinery_section {
  padding-bottom: 160px;
}

.joinery_wrapper {
  display: flex;
  justify-content: space-between;
}

.joinery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 99px;
  width: 100%;
  max-width: 560px;
  min-width: 300px;
  height: auto;
}

.joinery_img {
  width: inherit;
  height: 100%;
  min-height: 560px;
}

.console_table {
  background: center / cover no-repeat url(../../assets/img/console_table.png);
}

.joinery_begginer {
  background: center / cover no-repeat url(../../assets/img/joinery_begginer.png);
}

.joinery_name {
  font-weight: bold;
  padding-top: 20px;
}

.manual_section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 322px;
}

.manual_section > .wrapper {
  display: flex;
}

.manual_wrapper {
  display: flex;
  flex-direction: column;
}

.manual_text {
  padding: 100px 0 47px;
  width: 100%;
  max-width: 591px;
  min-width: 320px;
}

.manual_btn {
  margin: 0;
}

.manual_img {
  width: 100%;
  max-width: 469px;
  min-width: 320px;
  height: 475px;
  background-color: #C4C4C4;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
  }

  .wrapper {
    margin: 0 20px;
    width: 90%;
  }
  .ourWorks_section {
    padding: 0;
    padding-top: 77px;
  }

  .timeline {
    margin-top: 86px;
  }

  .secondLife_wrapper {
    padding: 126px 0;
  }

  .secondLife_title {
    margin: 0;
    line-height: 180%;
  }

  .joinery_section {
    padding-bottom: 98px;
  }

  .joinery_wrapper {
    flex-direction: column;
  }

  .joinery {
    padding-top: 32px;
  }

  .joinery_img {
    min-height: 300px;
  }

  .secondLife_section {
    padding: 100px 0 90px 0;
  }
}

@media screen and (max-width: 1200px) {
  .ourWorks_section > .wrapper, .furnitureRestoration_section > .wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .ourWorks_wrapper {
    grid-template-columns: repeat(2, 139px);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 40px;
    align-self: center;
  }

  .ourWorks_btn {
    margin: 0 auto;
    margin: 70px 0 86px;
    align-self: center;
  }

  .furnitureRestoration_wrapper {
    grid-template-columns: repeat(2, 167px);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    align-self: center;
  }
}