.service {
  display: flex;
}

.service_img {
  width: 100%;
  max-width: 720px;
  min-width: 320px;
  height: 100%;
  min-height: 536px;
}

.service_cnt {
  padding: 110px 0 100px 41px;
  width: 100%;
  max-width: 534px;
}

.service_cnt:nth-child(2) {
  padding: 110px 0 75px 41px;
}

.service_context {
  padding-top: 40px;
}

.service_btn {
  margin: 0;
  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  .service {
    flex-direction: column;
  }

  .service_img {
    min-height: 260px;
    margin-bottom: 110px;
  }

  .service_cnt, .service_cnt:nth-child(2) {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
  .service_btn {
    margin-bottom: 94px;
  }
}