footer {
  background-color: #715B4B;
  padding: 84px 140px 248px;
  color: #F6F6F6;
  font-size: 16px;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
}

.footer_nav {
  display: flex;
  width: 23%;
  justify-content: space-between;
}

.footer_service, .footer_contacts {
  display: flex;
  flex-direction: column;
}

.footer_link {
  color: #F6F6F6;
}

.footer_link:hover {
  border-bottom: 1px solid #F6F6F6;
  transition: .5s ease;
}

.social_links {
  display: flex;
  justify-content: space-between;
}

.telegram, .instagram, .viber {
  width: 52px;
  height: 52px;
  border-radius: 20px;
}

.telegram {
  background: center / contain no-repeat url(../../../assets/icon/footer_telegram.svg);
}

.instagram {
  background: center / contain no-repeat url(../../../assets/icon/footer_instagram.svg);
  margin: 0 18px;
}

.viber {
  background: center / contain no-repeat url(../../../assets/icon/footer_viber.svg);
}

.telegram:hover, .instagram:hover, 
.viber:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: .5s ease;
}