.warranty_section {
  padding: 90px 0;
}

.warranty_content {
  padding: 91px 5px 42px 14px;
  height: -webkit-fill-available;
}

.warranty_wrapper {
  width: 70%;
  height: 425px;
  margin: 0 auto;
}

.warranty_icon_mobile {
  background: center/contain no-repeat url(../../../assets/icon/stamp.svg);
  width: 69px;
  height: 68px;
  align-self: end;
}