.furnitureRestoration {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.furnitureRestoration_img {
  display: block;
  width: 100%;
  max-width: 212px;
  min-width: 146px;
  height: 100%;
  min-height: 251px;
}

.furnitureRestoration_name {
  padding-top: 25px;
}